body {
    padding: 0%;
    margin: 0%;
    width: 100%;
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.8s ease-in-out;
    overflow-x: hidden;
    transition: 2s all ease-in-out;
}

.dis_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 23px;
    justify-content: center;
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;

}

.img_logo {
    left: 3%;
}

.img_logo img {
    width: 100px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
    /* Ensures the video stays behind other content */
}
.nav_btn{
    position: absolute;
    border: 2px solid;
    right: 79px;
    padding: 6px;
    right: 65px;
    top: 37px;
    display: none;
  }
  .nav_btn span{
    display: flex;
      background-color: gray;
      padding: 5px 24px;
      margin: 5px;
  }

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 0px 117px;
}

.heading h1 {
    color: red;
    transition: all 0.8s ease-in-out;
    
    position: relative;
    display: inline-block;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000,
        3px 3px 0px rgba(0, 0, 0, 0.3),
        5px 5px 0px rgba(0, 0, 0, 0.5),
        7px 7px 0px rgba(0, 0, 0, 0.7),
        9px 9px 0px rgba(0, 0, 0, 0.9);
    transform: rotateY(-20deg);
    -webkit-box-reflect: below -30px linear-gradient(transparent, #0005);
    /* box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4; */
    font-size: 66px;
    font-weight: bolder;

    color: antiquewhite;
}

.btn-1 {
    border: 2px solid;
    width: 5%;
    border-radius: 46px 0px 0px 46px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -10%;
    top: 15%;

}

.btn-1 button {
    margin: 31px;
    font-size: 26px;
    padding: 16px;
    background-color: transparent;
    font-family: cursive;
    color: aliceblue;
    box-shadow: 6px 5px 0px 0px gray;
    transition: all 0.8s ease-in-out;
}

.btn-1 button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px gray;
    transform: translate(6px, 5px);
    color: red;
    display: block;
    filter: drop-shadow(0 0 10px red);
}



.btns_intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    right: 0%;
}

.btns_intro button {

    margin: 31px;
    font-size: 26px;
    padding: 16px;
    background-color: transparent;
    font-family: cursive;
    color: aliceblue;
    box-shadow: 6px 5px 0px 0px gray;
    transition: all 0.8s ease-in-out;
}

.btns_intro button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 0px gray;
    transform: translate(6px, 5px);
    color: red;
    display: block;
    filter: drop-shadow(0 0 10px red);
}

/* end of header */


.btns_about{
    display: flex;
    flex-direction: column;
    padding: 55px;
}
.btns_about button{
    margin: 15px;
    padding: 15px;
    font-size: 20px;
    border-radius: 8px;
    background: transparent;
    color: antiquewhite;
    transition:all 0.4s ease-in-out;

}
.btns_about button:hover{
    background-color: #03e9f4;
    color: black;
    cursor: pointer;
}

.main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    transition: all 0.8s ease-in-out;
}
.personal_info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 9px;
    margin: 20px;
    border: 2px solid white;
    box-shadow: 0px 0px 25px white;
    border-radius: 24px;
}
.s_heading h1{
    font-size: 40px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.personal_info_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
.personal_info_details img{
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
    width: 100px;
    border-radius: 100%;
}
.personal_info_details li{
    margin: 4px;
}

.Personal_background{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 9px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 24px;
    padding: 37px;
    width: 23%;
    box-shadow: 0px 0px 25px white;
    display: none;
}
.personal_background_details{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.edu_bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 25px white;
    font-size: 21px;
    border: 2px solid;
    border-radius: 23px;
    display: none;
}
.edu_bg_details{
    display: flex;
    text-wrap: wrap;
    padding: 27px;

}
.edu_bg_details li{
    margin: 23px 0px;
}

.skill_bg{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px white;
    font-size: 21px;
    border: 2px solid;
    border-radius: 23px;
    padding-left: 23px;
    display: none;

}

.my_app_bg{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 25px white;
    font-size: 21px;
    border: 2px solid;
    border-radius: 23px;
    padding-left: 33px;
    width: 46%;
    display: none;
}

.btn_touch{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
}

.btn_touch button{
    padding: 19px;
    font-size: 18px;
    background: transparent;
    color: antiquewhite;
    border-radius: 13px;
    transition: all 0.5s ease-in-out;
}

.btn_touch button:hover{
    cursor: pointer;
    background-color: #03e9f4;
    color: black;
}


/* footer */


.footer-bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 110px;
}

.footer-bottom p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media_btn button {
    padding: 4px 27px;
    font-size: 14px;
    background: transparent;
    transition: all 0.5s ease-in-out;
    color: antiquewhite;
}

.social_media_btn button:hover {
    color: white;
    cursor: pointer;
    background-color: #03e9f4;
    color: white;
}

.social_btns_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 23px;
    position: absolute;
    top: 18%;
    left: -100px;
}

.social_btns_list a {
    margin: 15px;

}

.social_btns_list a button {
    padding: 17px;
    font-size: 16px;
    border-radius: 11px;
    background-color: transparent;
    color: aliceblue;
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
}

.social_btns_list {
    border: 2px solid;
    border-radius: 3px 52px 55px 2px;
    background-color: transparent;

}

.social_btns_list a {
    box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4, 0 0 100px #03e9f4;
    font-size: 35px;
    color: #03e9f4;
    background-color: aliceblue;
}


@media (max-width: 1700px) {
    .btn-1 button{
      font-size: 16px;
    }
    .btn-1{
      display: flex;
      position: static;
      border: 2px solid white;
      border-radius: 23px;
      flex-direction: row;
      width: fit-content;
      flex-wrap: wrap;
      right: 0;
      margin: 27px;
      padding: 0px;
      display: none;
      position: absolute;
    }
    .Personal_background{
        width: 100%;
    }
    .nav_btn{
      padding: 1px;
      top: 28px;
      right: 23px;
      display: block;
    }
    .h-text h1{
      font-size: 66px;
    }
    .h-text2{
      font-size: 14px;
    }
    .btns_intro button{
      margin: 7px;
      font-size: 16px;
    }
    
    .btn-1_about{
      display: none;
    }
    .btn-2_about{
      display: flex;
    }
    .btn-1 button{
      margin: 13px;
    }
    .footer-bottom p{
      font-size: 12px;
    }
    .footer-bottom{
        padding-top: 100px;
    }
    .main_container{
        flex-wrap: nowrap;
    }
}

@media (max-width: 1080px) {
    
    .main_container{
        flex-wrap: wrap-reverse;
    }
    .h-text h1 {
        font-size: 50px;
    }
    .skill_bg{
        padding: 52px 138px !important;
        margin-bottom: 53px;
    }
    .btns_intro button {
        margin: 7px;
        font-size: 16px;
    }
    .img img{
        width: 100px;
    }
    .nav_btn{
      padding: 1px;
  
    }
    .img_logo img{
      width: 85px;
    }
    .personal_info{
        padding: 0px;
    }
    .heading{
        padding: 0px;
    }
    .personal_info_details{
        font-size: 13px;
    }
    .s_heading h1{
        font-size: 25px;
    }
    .btns_about{
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-size:23px;
        justify-content: center;
        align-items: center;
    }
    .footer-bottom{
        padding-top: 80px;
        flex-wrap: wrap;
    }
    .btns_about button{
        padding: 7px;
    font-size: 12px;
    }
    .social_media_btn button{
        font-size: 8px;
    }
    .footer-bottom p{
        font-size: 8px;
    }
    .nav_btn{
        display: block;
    }
    .btn-1{
        transition: 0.5s ease-in-out;
    display: flex;
    position: absolute;
    flex-direction: column;
    background: black;
    z-index: 2;
    padding: 27px 0px;
    }
    .btns_about button{
        margin: 10px;
    }
    .social_btns_list{
        top: 161px;
    }
    .Personal_background{
        margin: 79px;
    }
    .edu_bg{
        padding: 0px;
        margin: 23px 44px; 
    }
    .edu_bg_details li{
        margin: 12px 0px;
    }
    
    .my_app_bg{
        padding: 0px;
        width: 100%;
        padding: 17px;
        font-size: 15px;
        margin: 35px;
    }   
    .btn_touch button{
        padding: 17px;
        font-size: 19px;
        border-radius: 12px;
    }
    
  }
  @media (max-width: 650px) {
    
    .h-text h1 {
        font-size: 30px;
    }
    .btns_intro button {
        margin: 7px;
        font-size: 10px;
    }
    .btn-1{
        display: none;
    }
    .img img{
        width: 59px;
    }
    .nav_btn{
      padding: 1px;
      top: 28px;
  
    }
    .img_logo img{
      width: 50px;
    }
    .h-text2{
      font-size: 10px;
    }
    .social_btns_list a{
      font-size: 16px;
    }
    .nav_btn span{
      padding: 2px 16px;
    }
    .btn-1 button{
      margin: 13px;
      font-size: 22px;
      padding: 7px;
      font-size: 12px;
    }
  .btn-2_about{
    display: flex;
  }
  .footer-bottom{
    margin-top: 0px;
    padding-top: 0px;
}
.Personal_background{
    margin: 60px;
    padding: 23px;
}
.edu_bg_details{
    padding: 0px;
}
.edu_bg{
    margin:25px;
}

.my_app_bg{
    padding: 0px;
    width: 100%;
    padding: 17px;
    font-size: 15px;
    margin: 27px 27px;
}
.btn_touch button{
    padding: 8px;
    font-size: 11px;
    border-radius: 9px;
}

    
  }

@media (max-width: 450px) {
    .footer-bottom{
        padding-top: 0px;
    }
    .skill_bg{
        margin-top: 53px;
        padding: 23px 43px !important;
    }
    .personal_info_details li{
        margin: 12px 0px;
        line-break: anywhere;
    }
    .Personal_background{
        padding: 20px;
        margin: 25px;
    }
    .edu_bg{
        margin: 0px 38px;
    }
    .edu_bg_details{
        padding: 0px;
    }
    .edu_bg_details li{
        margin: 20px 0px;
        font-size: 14px;
    }
    .s_heading h1 {
        font-size: 19px !important;
    }
    .heading h1{
        font-size: 30px;
    }
    .footer-bottom {
        padding-top: 48px;
    }
    .btns_about{
        margin-top: 0px;
    }
    .edu_bg {
        margin: 30px 38px;
    }
    .my_app_bg{
        padding: 0px;
        width: 100%;
        padding: 17px;
        font-size: 15px;
        margin: 27px 27px;
    }
    .btn_touch button{
        padding: 8px;
        font-size: 11px;
        border-radius: 9px;
    }
    
}
@media (max-width: 333px) {
    .footer-bottom {
        padding-top: 10px;
    }
    .edu_bg {
        margin: 58px 38px;
    }
    .my_app_bg{
        padding: 0px;
        width: 100%;
        padding: 17px;
        font-size: 15px;
        margin: 27px 27px;
    }
    .btn_touch button{
        padding: 8px;
        font-size: 11px;
        border-radius: 9px;
    }
}

@media (max-width: 300px) {
    .personal_background_details p{
        font-size: 10px;
    }
    .heading h1{
        font-size: px;
    }
    .edu_bg_details{
        padding: 0px;
        font-size: 13px;
    }
    .edu_bg_details li{
        margin: 20px 0px;
    }

    .skill_bg{
        padding: 9px 29px !important;
    }
    .edu_bg{
        margin: 0px 23px;
    }
    .s_heading h1 {
        font-size: 15px;
    }
    .my_app_bg{
        padding: 10px;
        font-size: 13px;
        margin: 7px 14px;
        width: 100%;
    }
    .btn_touch button{
        padding: 8px;
        font-size: 11px;
        border-radius: 9px;
    }
    }
    
